{% extends 'dep_template/base_template.html' %}

{% block page_title %}
    Öğrenciler
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_student' %}" role="button">Öğrenci ekle</a> <br/>&nbsp;
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Öğrenci detayı</h3>

                            <div class="card-tools">

                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>ad soyad</th>
                                <th>soyad</th>
                                <th>kullanıcı adı</th>
                                <th>Email</th>
                                <th>Adres</th>
                                <th>cinsiyet</th>
                                <th>Profil fotoğrafı</th>
                                <th>baslama tarihi</th>
                                <th>bitis tarihi</th>
                                <th>Kurs</th>
                                <th>Son giriş</th>
                                <th>Katılma tarihi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                <td>{{ student.admin.id }}</td>
                                <td>{{ student.admin.first_name }}</td>
                                <td>{{ student.admin.last_name }}</td>
                                <td>{{ student.admin.username }}</td>
                                <td>{{ student.admin.email }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.gender }}</td>
                                <td> <img src="{{ student.profile_pic }}" style="width: 100px;" /> </td>
                                <td>{{ student.session_year_id.session_start_year }}</td>
                                <td>{{ student.session_year_id.session_end_year }}</td>
                                <td>{{ student.course_id.course_name }}</td>
                                <td>{{ student.admin.last_login }}</td>
                                <td>{{ student.admin.date_joined }}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}